@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@300;400;500&family=Noto+Sans:wght@300;400;500&display=swap');



@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Black') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: 'monetasans1';
    src: url('../font/monetasans-bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'monetasans2';
    src: url('../font/monetasansoblique-bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'roobert';
    src: url('../font/roobert-variable.woff2') format('woff');
    font-weight: 500;
}